<h2>
BUILDING MEASUREMENTS
</h2>
<table class="content-table" style = "font-size:10px;">
    <tr>
        <td>
            BUILDING HEIGHT: 
        </td>
        <td colspan="2">
            
        </td>
        <td rowspan="6" valign="top" style="text-align: left;">
            NOTES: 
        </td>        
    </tr>
    <tr>
        <td>
            BUILDING LENGTH: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
    <tr>
        <td>
            SIGN BAND FACADE HEIGHT: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
        <tr>
        <td>
            SIGN BAND FACADE LENGTH: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
        <tr>
        <td>
            SIGN ACCESS/RACEWAY: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
    <tr>
        <td>
            ATTACHMENT METHOD:
        </td>
        <td class="text-right">
            COLOR MATCH: 
        </td>
        <td>
        
        </td>
    </tr>    
</table>

<!--Section 2-->
<h2>
WINDOWS & DOORS
</h2>
<table class="content-table" style = "font-size:10px;">
    <tr>
        <td>
            WINDOW HEIGHT: 
        </td>
        <td colspan="2">
            
        </td>
        <td rowspan="4" valign="top" style="text-align: left;">
            NOTES: 
        </td>        
    </tr>
    <tr>
        <td>
            WINDOW WIDTH: 
        </td>
        <td colspan="2">
            <span class="little-small">Is window tinted? </span>
            <input type="checkbox">YES &nbsp;&nbsp;
            <input type="checkbox">NO &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            DOOR HEIGHT: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
        <tr>
        <td>
            DOOR WIDTH: 
        </td>
        <td colspan="2">
            <span class="little-small">Is window tinted? </span>
            <input type="checkbox">YES &nbsp;&nbsp;
            <input type="checkbox">NO &nbsp;
        </td>
    </tr>
</table>

<!--Section 3 -->
<h2>
INTERIOR WALL
</h2>
<table class="content-table" style = "font-size:10px;">
    <tr>
        <td>
            WALL HEIGHT: 
        </td>
        <td colspan="2">
            
        </td>
        <td rowspan="5" valign="top" style="text-align: left;">
            NOTES: 
        </td>        
    </tr>
    <tr>
        <td>
            WALL WIDTH: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
    <tr>
        <td>
            WALL MATERIAL/TEXTURE: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
        <tr>
        <td colspan="3" style="width: 75%;text-align: left;">
            <span class="little-small">
                How is sign attached to wall?
            </span>
        </td>
    </tr>
        <tr>
        <td colspan="3" style="width: 75%;text-align: left;">
            <span class="little-small">
                Does wall need to be repaired when existing sign is removed?
            </span>
        </td>
    </tr>
</table>

<!-- Section 4 -->
<h2>
MONUMENT & PYLON SIGNS
</h2>
<table class="content-table" style = "font-size:10px;">
    <tr>
        <td>
            SIGN CABINET: 
        </td>
        <td colspan="2" style="text-align: left;">
            H:_______ W:______ D:______
        </td>
        <td rowspan="6" valign="top" style="text-align: left;">
            NOTES: 
        </td>        
    </tr>
    <tr>
        <td>
            SIGN BASE/STRUCTURE: 
        </td>
        <td colspan="2" style="text-align: left;">
            H:_______ W:______ D:______
        </td>
    </tr>
    <tr>
        <td>
            RETAINER: 
        </td>
        <td colspan="2" style="text-align: left;">
            W:______ TYPE:_____________
        </td>
    </tr>
        <tr>
        <td>
            FACE TYPE: 
        </td>
        <td colspan="2" style="text-align: left;">
            <input type="checkbox"> FLAT &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox"> FORMED
        </td>
    </tr>
        <tr>
        <td>
            ILLUMINATION: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
    <tr>
        <td>
            ELECTRICAL TO SIGN:
        </td>
        <td colspan="2">
        
        </td>
    </tr>    
</table>

<!-- Section 5 -->
<h2>
FACE REPLACEMENTS
</h2>
<table class="content-table" style = "font-size:10px;">
    <tr>
        <td>
            V.O. OPENING SIZE: 
        </td>
        <td colspan="2" style="text-align: left;">
            H:_______ W:______
        </td>
        <td rowspan="5" valign="top" style="text-align: left;">
            NOTES: 
        </td>        
    </tr>
    <tr>
        <td>
            O.A. FACE DIMENSIONS:
        </td>
        <td colspan="2" style="text-align: left;">
            H:_______ W:______
        </td>
    </tr>
    <tr>
        <td>
            RETAINER SIZE: 
        </td>
        <td colspan="2">
            HANG BAR? <input type="checkbox" style="width: 25px; height: 25px;"> YES
            <input type="checkbox"> NO
        </td>
    </tr>
        <tr>
        <td>
            EXIST. FACE MATERIAL:
        </td>
        <td colspan="2" style="text-align: left;">
            
        </td>
    </tr>
        <tr>
        <td>
            LAMPS / BALLAST: 
        </td>
        <td colspan="2">
        
        </td>
    </tr>
</table>

<!-- Section 6 -->
<h2>
ADDITIONAL INFORMATION
</h2>
<table class="content-table" style = "font-size:10px;">
    <tr>
        <td>
            Is there wall access?
        </td>
        <td colspan="2" style="text-align: left;">
            
        </td>
        <td rowspan="4" valign="top" style="text-align: left;">
            NOTES: 
        </td>        
    </tr>
    <tr>
        <td>
            Raceway required: 
        </td>
        <td>
        
        </td>
        <td colspan="1" style="text-align: left;">  
            
        </td>
    </tr>
    <tr>
        <td>
            Electrical to sign within 6'?: 
        </td>
        <td colspan="2">
            
        </td>
    </tr>
        <tr>
        <td>
            Secondary Leads
        </td>
        <td colspan="2" style="text-align: left;">
            <input type="checkbox"> HIGH
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox"> MEDIUM
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="checkbox"> LOW
        </td>
    </tr>
</table>
